@import "../vars";

a {
  text-decoration: none;
}

.cart {
  &__img {
    margin-right: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
  }
}

.informer {
  display: inline-block;
  padding: 3px 18px;
  margin: 3px;
  background-color: $accent-color;
  font-size: 15px;
  line-height: 15px;
}
.informer:before {
  position: absolute;
  right: 405px;
  top: 0;
  content: "";
  width: 15px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $accent-color;
}
